<h1>The best weather on earth</h1>
<em>Web development - Exercise brief</em>

<h4>Where's the best weather on earth right now?</h4>
<p>
Use the OpenWeather JSON API and create a simple page to show which weather station (or city) has the most convenient weather in terms of temperature and humidity (the ideal is 21°C, 50%). Below the winning weather station, show the following leading ones.
</p>
<p>
<u>Extra:</u> Allow to choose whether to display the optimal place for a male or a female (one Celsius degree more).
</p>

<h4>Requirements</h4>
<ul>
<li>The page will work on client-side only, will be tested only in Google Chrome</li>
<li>Use AngularJS as a framework. You may use any other framework or library you are comfortable with. We recommend: moment.js (for time manipulations), underscore.js (for sorting), Less (for css)</li>
<li>Emphasize simple, structured and reusable code</li>
<li>An elegant usable page with clear information hierarchy</li>
<li>Don't worry about performance, but preferably let the user know what's happening</li>
</ul>

<p>
<b>Hint:</b> Use the bounding box version of the API
<br>
<b>Time:</b> 4 hours, no more
</p>
<p>
<b>Good luck!</b>
</p>
